# TODO move this run to buildkite

name: Publish a Release

on:
  workflow_dispatch

permissions:
  contents: read # for checkout

env:
  ECH_NODE_VERSION: '22.22.0'

jobs:
  checks:
    name: Release Checks
    runs-on: ubuntu-latest
    # needs: status # Not working atm
    # Runs checks when others running on main may be in process
    # This is likely an edge case unless published shortly following a merge
    # This also covers a case where main checks did not complete/succeed
    # if: needs.status.outputs.allSuccess
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.7
        with:
          persist-credentials: false
      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ env.ECH_NODE_VERSION }}

      # TODO: fix unnecessary yarn installs
      - name: Install node_modules
        uses: bahmutov/npm-install@v1.10.9
        with:
          useRollingCache: true
      - name: Install e2e node_modules
        uses: bahmutov/npm-install@v1.10.9
        with:
          working-directory: e2e
          useRollingCache: true
      - name: Install e2e node_modules
        uses: bahmutov/npm-install@v1.10.9
        with:
          working-directory: .buildkite
          useRollingCache: true

      # TODO: fix this to avoid requiring build to run linting
      # currently the storybook and others are loosely coupled to @elastic/charts/src
      # such that types point to the local source and not a packaged release
      - name: Build charts typescript lib
        run: yarn build:ts
      - name: Lint check
        run: yarn lint
      - name: Prettier check
        run: yarn prettier:check
      - name: TimeZone testing
        run: yarn test:tz --ci
      - name: Testing
        run: yarn test --ci

  release:
    name: Release
    needs: [checks]
    if: ${{ needs.checks.result == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.7
        with:
          persist-credentials: false
      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ env.ECH_NODE_VERSION }}

      - name: Install node_modules
        uses: bahmutov/npm-install@v1.10.9
        with:
          useRollingCache: true

      - name: Build library
        run: yarn build

      - name: Upgrade npm for trusted publishing (OIDC) support
        run: npm install -g npm@11.5.1

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_TOKEN_GH }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: yarn semantic-release
